
/* ===========================================================================================
 */
html{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display'; 
    font-style: normal;
    text-align: center;
    font-size: 2.4rem;
}

h1{
    font-size: 2rem;
}

h2{
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1.5rem;
}

h3 {
    color: #e2574c;
}

p{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    /* padding: 0 2%; */
}

.heavy{
    font-weight: 700;
    font-style: normal;
}

/* ===========================================================
Header
*/
header{
    position: fixed;
    top: 0;
    z-index: 5;
    background: #ffffff;
}
.header-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1rem .5rem 1rem;
}

.logo{
    flex-grow: 1;
    align-self: flex-start;
    order: 1;
}

.logo img{
    max-width: 120px;
}

.nav{
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    order: 3;
    flex-basis: 100%;
}

.nav ul{
    display: flex;
    justify-content: center;
    font-size: 14px;
    border-top: 1px solid #d7d7d7;
}

.nav li{
    font-weight: 700;
    margin: 0 1rem;
}

.nav li a{
    color: #e2574c;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
}

.nav a:hover{
    color: #b64036;
}

.cart{
    flex-grow: 1;
    align-self: flex-start;
    text-align: right;
    width: 50px;
    order: 2;
}

.cart img{
    width: 50px;
    align-self: flex-end;

}

/* =============================================================================
Banner
*/

.banner{
    background: linear-gradient(180deg,rgba(0,0,0,0.25) 0 ,rgba(0,0,0,0.25)), url(../images/banner-girl.png) no-repeat center 60px, url(../images/flower-bkgd.jpg) repeat-x;
    background-size: cover, 150px 369px, cover;
    height: 400px;
    margin-top: 100px;
    position: relative;
}
.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11rem;
    width: 80%;
}

.banner-text p{
    text-shadow: 2px 2px 4px grey;
}

.collection{
    font: inherit;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: white;
}

.season{
    font-family: 'Playfair Display',serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    line-height: 1;
}

/* =================================================================================
About
*/
.about{
    display: flex;
    align-items: center;
    padding: 4rem 0;
}

.about h2{
    line-height: 1;
}

.about-text p{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 2;
}

/* ================================================================================= 
Categories
*/

.category-grid{
    display: grid;
    width: 100%;
    height: 200vw;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
}

div .category{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 3px solid #ffffff;
}

.category a{
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 4px grey;}

.mens{
    background-image: linear-gradient(180deg,rgba(0,0,0,0.25) 0 ,rgba(0,0,0,0.25)), url(../images/mens-category.jpg);
    background-size: cover;
    background-size: cover;
    text-align: center;
    grid-area: 1 / 1 / 2 / 3
}

.trends{
    background: linear-gradient(180deg,rgba(0,0,0,0.25) 0 ,rgba(0,0,0,0.25)), url(../images/trends-category.jpg);
    background-size: cover;
    background-size: cover;
    text-align: center;
}

.glasses{
    background: linear-gradient(180deg,rgba(0,0,0,0.25) 0 ,rgba(0,0,0,0.25)), url(../images/glasses-category.jpg);
    background-size: 100%;
    background-size: cover;
    text-align: center;
}

.sale{
    background: linear-gradient(180deg,rgba(0,0,0,0.25) 0 ,rgba(0,0,0,0.25)), url(../images/sale-category.jpg);
    background-size: 100%;
    background-size: cover;
    text-align: center;
}

.bags{
    background: linear-gradient(180deg,rgba(0,0,0,0.25) 0 ,rgba(0,0,0,0.25)), url(../images/bags-category.jpg);
    background-size: 100%;
    background-size: cover;
    text-align: center;
}

.womens{
    background: linear-gradient(180deg,rgba(0,0,0,0.25) 0 ,rgba(0,0,0,0.25)), url(../images/womens-category.jpg);
    background-size: 100%;
    background-size: cover;
    text-align: center;
    grid-area: 4 / 1 / 5 / 3;
}

/* =================================================================================
Product Line
*/
.most-loved{
    text-align: center;
    padding-top: 55px;
    line-height: 1;
}

.carousel {
    background: #EEE;
    padding-bottom: 0;
    margin-bottom: 50px;
}
  
.carousel-cell {
    width: 100%;
    margin-top: 0;
    padding: 0;
}

.carousel-cell img{
      margin-top: 0;
      margin-bottom: 1rem;
}

.carousel-cell h3{
      font-size: 1.5rem;
      margin-bottom: 1rem;
}

  /* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 0;
    padding: 1.5rem 2rem;
    margin-bottom: 0;
    font-size: 80px;
    color: white;
  }

.product-type{
    font-size: .75rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.product-type, .price{
    color: #969696;
    font-weight: 700;
}

.price{
    margin-bottom: 30px;
}

/* =================================================================================
Subscribe
*/
.subscribe{
    font-family: 'Raleway';
    text-align: center;
    color: #FFFFFF;
    height: 330px;
    margin-top: 5rem;
    margin-bottom: .5rem;
    padding-top: 50px;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0 ,rgba(0,0,0,.25)), url(../images/wave-bkgd.jpg) no-repeat bottom;
}

.subscribe .container{
    padding: 0 2%;
    line-height: 1;
}

.subscribe p{
    line-height: 2;
    font-size: 1.15rem;
}

.subscribe h2{
    line-height: 1;
}

.sign-up{
    position: relative;
    max-width: 500px;
    margin: auto;
    padding-top: 40px;
    line-height: 1;
    display: flex;
    justify-content: center;
}

.email{
    height: 45px;
    width: 500px;
    border-radius: 20px;
}

input::placeholder{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14px;
    padding-left: 20px;
}

.button{
    font-size: 14px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    height: 40px;
    width: 120px;
    color: #FFFFFF;
    background-color: #e2574c;
    border-radius: 20px;
}

.button:hover{
    background-color: #b64036;
}

/* ===================================================================================
Footer
*/

.site-footer{
    background: #242424;
    color: #ffffff;
    height: 300px;
    padding: 4rem 0;
}

.footer-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-content{
    justify-content: center;
}

.site-footer a{
    color: #ffffff;
}

.contact a:hover{
    color: coral;
}

.copywrite p, .contact p, .address p{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
}

.contact p{
    margin-top: 15px;
    margin-bottom: 15px;
}

.address p{
    color: #969696;
}

.media{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

ul .media{
    width: 100%;
    font-size: 16px;
}
.media li{
    margin: 0 5px;
    line-height: 2;
    list-style-type: none;
}
.media li a{
    display: none;
    text-decoration: none;
    color: #FFFFFF;
}
/*  Peronally like these icons better */
.fa-copyright,
.fa-facebook,
.fa-twitter-square,
.fa-instagram,
.fa-pinterest-square, 
.fa-google-plus-square{
    color: #ffffff;
    font-size: 20px;
}

.fa-copyright:hover{color: coral;}
.fa-facebook:hover{color: coral;}
.fa-twitter-square:hover{color: coral;}
.fa-instagram:hover{color: coral;}
.fa-pinterest-square:hover{color: coral;} 
.fa-google-plus-square:hover{color: coral;}

/* Styles above here are "mobile first" =======================================*/
@media screen and (min-width: 600px){

html{
    font-size: 16px;
}

h2{
    font-weight: 300;
}
 
.header-container{
    padding-top: 1rem;
    padding-bottom: .5rem;
}
 
.logo{
    order: 1;
 }

.nav{
    order: 2;
    flex-basis: auto;
    margin: auto;
}

.nav ul{
     border-top: 0;
}

.cart{
    order: 3;
}

/* Banner ====================================
*/
.banner .container{
    padding-top: 10rem;
}
.season{
    font-size: 3rem;
}

/* About ======================================
 */
.about-text{
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
}

.about-text h2{
    padding: 0;
    margin: 0 0 25px 0;
}
/* Categories ================================
 */
.category-grid{
    display: grid;
    width: 100%;
    height: 45vw;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.womens{
    grid-area: 2 / 3 / 3 / 5;
}
/* Carousel===================================
 */
 .most-loved{
    text-align: center;
    padding-top: 64px;
    line-height: 1;
}

.carousel-cell {
    width: 50%;
    padding: 0 2rem;
}

.carousel-cell img{
    height: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
}

.price{
    margin-bottom: 30px;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 400;
}

/* Subscribe ===================================
 */
 .subscribe{
    height: 345px;
}
/* Footer ====================================
 */

.footer-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.copywrite p, .contact p, .address p{
    text-align: left;
    font-size: 16px;
}

.address p{
    color: #969696;
    text-align: left;
}

ul.media{
    margin-top: 0;
}

.media{
    flex-direction: column;
    font-size: 16px;
    height: 100%;
}

.media li{
    line-height: 2;
    list-style-type: none;
}

.media li a{
    display: inline-block;
    font-weight: 200;
    text-decoration: none;
    margin-left: 30px;
}

.media a:hover{
    color: coral;
}

.fa-copyright,
.fa-facebook,
.fa-twitter-square,
.fa-instagram,
.fa-pinterest-square, 
.fa-google-plus-square{
    font-size: 20px;
}
}
/* Desktop =======================================================================*/
@media screen and (min-width: 1240px){
    .carousel-cell {
    width: 25%;
}
}