
/* ===========================================================================================
 */
html{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway';
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display'; 
    font-style: normal;
    text-align: center;
    font-size: 2.4rem;
}

h1{
    font-size: 2rem;
}

h2{
    font-weight: 300;
    font-style: italic;
    margin-bottom: 40px;
}

p{
    font-family: "Raleway";
    text-align: center;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2%;
}

.heavy{
    font-weight: 700;
    font-style: normal;
}

/* ===========================================================
Header
*/
.header-container{
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.logo{
    flex-grow: 1;
    align-self: flex-start;
}

.logo img{
    max-width: 120px;
    margin: 0 auto;
}

.nav{
    display: inline;
    align-self: center;
    flex-grow: 2;
    margin: 0;
    padding: 0;
}

.nav ul{
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    font-size: 14px;
}

.nav li{
    text-align: center;
    width: 100%;
    font-weight: 700;
    margin: 0 1rem;
}

.nav li a{
    color: #e2574c;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
}

.cart{
    flex-grow: 1;
    align-self: flex-start;
    text-align: right;
    width: 50px;
}

.cart img{
    width: 50px;
    align-self: flex-end;

}

/* =============================================================================
Banner
*/

.banner{
    background: linear-gradient(180deg,rgba(0,0,0,0.25) 0 ,rgba(0,0,0,0.25)), url(../images/banner-girl.png) no-repeat center 60px, url(../images/flower-bkgd.jpg) repeat-x;
    background-size: cover, 150px 369px, cover;
    height: 400px;
    position: relative;
}

.collection{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    top: 160px;
}

.season{
    font-family: "Playfairdisplay-regular",serif;
    font-size: 45px;
    color: white;
    text-align: center;
    position: relative;
    top: 170px;
}

/* =================================================================================
About
*/
.about{
    padding-top: 50px;
}

/* ================================================================================= 
Categories
*/
.products{
    height: 400px;
    padding: 0;
}
.category-grid{
    height: 400px;
    display:flex;
    flex-wrap: wrap;
  }
  
.category{
    flex-grow:1;
    background: #ccc;
    height: 25vw;
    border: 2px solid white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.mens:nth-of-type(1){
    width: 50%;
    flex-basis:50%;
}
  
.trends:nth-of-type(2){
    flex-basis:25%;
}
  
.glasses:nth-of-type(3){
    flex-basis:25%;
}
  
.sale:nth-of-type(4){
    flex-basis:25%;
}
  
.bags:nth-of-type(5){
    flex-basis:25%;
}
  
.womens:nth-of-type(6){
    flex-basis:50%;
}

.mens{
    background-image: url(../images/mens-category.jpg);
    background-size: 100%;
    text-align: center;
}

.trends{
    background: url(../images/trends-category.jpg);
    background-size: 100%;
    text-align: center;
}

.glasses{
    background: url(../images/glasses-category.jpg);
    background-size: 100%;
    text-align: center;
}

.sale{
    background: url(../images/sale-category.jpg);
    background-size: 100%;
    text-align: center;
}

.bags{
    background: url(../images/bags-category.jpg);
    background-size: 100%;
    text-align: center;
}

.womens{
    background: url(../images/womens-category.jpg);
    background-size: 100%;
    text-align: center;
}

/* =================================================================================
Product Line
*/
.most-loved{
    text-align: center;
}

/* =================================================================================
Subscribe
*/
.subscribe{
    text-align: center;
    color: #FFFFFF;
    height: 350px;
    padding-top: 50px;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0 ,rgba(0,0,0,.25)), url(../images/wave-bkgd.jpg) no-repeat bottom;
}

.sign-up{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.email{
    position: relative;
    height: 40px;
    width: 300px;
    border-radius: 20px;
}

.button{
    position: absolute;
    height: 35px;
    width: 100px;
    color: #FFFFFF;
    background-color: red;
    border-radius: 20px;
}

/* ===================================================================================
Footer
*/

.site-footer{
    background: #242424;
    color: #ffffff;
    padding: 4rem 0;
}

.site-footer a{
    color: coral;
}

.footer-inner{
    font: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid coral;
}

.footer-left{
    text-align: left;
    padding-left: 10px;
    justify-content: center;
}

.copywrite p, .contact, .address{
    text-align: left;
    font-size: 16px;
}

.address p{
    color: #969696;
    text-align: left;
}

.media{
    font-size: 16px;
    padding-right: 20px;
}
.media li{
    list-style-type: none;
}
.media li a{
    text-decoration: none;
    color: #FFFFFF;
}


.fa-copyright,
.fa-facebook,
.fa-twitter-square,
.fa-instagram,
.fa-pinterest-square, 
.fa-google-plus-square{
    color: coral;
    font-size: 20px;
}

